/* Paleta de Cores
Cor do Fundo (Preto Claro): #141212
Preto: #000000
Vermelho: #961212
Cinza: #5C5A5A
Branco: #FFFFFF
*/


/* Home */

/* Imagem Superior */
#img_inicial {
    top: 66px;
    position: relative;
    width: 100%;
}

#img_inicial img {
    height: 52vh;
    /*height: 400px;*/
    width: 100%;
    border: 5px solid #000000;
    object-fit: cover;
    object-position: center;
    transition: 0.3s;
}

#img_inicial:hover img {
    transform: scale(1.015);
    border: 0px solid #000000;
}


/* Textos */
main {
    top: 700px;
    height: 140vh/*max(900px, 100vh)*/;
}

#titulo {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: max(25px, 3vw);
    color: #FFFFFF;
    top: 75vh;
    width: 100%;
    text-align: center;
    position: absolute;
    display: inline;
}

#flex_descricao {
    display: flex;
    height: 850px;
    width: 100%;
}

.descricao {
    text-indent: 2em;
    color: #FFFFFF;
    font-size: max(15px, 1.5vw);
    position: relative;
    top: 45vh;
    display: block-flex;
    width: 45%;
    height: 400px;
    text-align: justify;
    padding-right: 5vh;
}

.descricao ul {
    left: 20px;
    position: relative;
    text-indent: 0em;
}

#img_descricao {
    max-width: 35vw;
    max-height: 70vh;
    display: flex;
    position: relative;
    top: 22vh;
}

#img_descricao img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    transition: 0.3s;
    object-fit: contain;
}

#img_descricao:hover img {
    transform: scale(1.1);
}


/* Rodapé */

footer {
    width: 100%;
    color: #FFFFFF;
    text-align: center;
    padding: 20px;
    position: relative;
    top: 1vh;
}