/* Paleta de Cores
Cor do Fundo (Preto Claro): #141212
Preto: #000000
Vermelho: #961212
Cinza: #5C5A5A
Branco: #FFFFFF
*/

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

html {
    height: 100%;
    overflow-x: hidden;
}

body {
    background-color: #141212;
    height: 100%;
}



/* Header */

header {
    background-color: #961212;
    height: 63px;
    width: 100%;
    position: fixed;
    z-index: 1;
}

#div_menu {
    background-color: rgba(75, 75, 77, 0.85);
    width: 250px;
    height: 100%;
    position: fixed;
    left: -250px;
    transition: all 0.5s;
}

.nav_menu {
    max-width: 250px;
    height: 100%;
    position: absolute;
}


/* Imagem que abre o Menu */

header input[type="checkbox"] {
    display: none;
}


#img_menu_img {
    width: 30px;
    transition: 0.3s;
}

header label {
    top: 9px;
    padding: 8px;
    position: fixed;
    z-index: 2;
    cursor: pointer;
}

header label:hover img {
    transform: scale(1.01);
    background-color: rgba(160, 160, 160, 0.3);
    border-radius: 4px;
}

header input[type="checkbox"]:checked~#div_menu {
    transform: translateX(250px);
}


/* Lista do Menu */
.lista_menu {
    top: 62px;
    list-style: none;
    position: absolute;
    width: 250px;
}

.lista_quemSomos{
    transition: all .4s;
    display: none;
}


.item_menu {
    display: initial;
}


.link_menu {
    font-family: Calibri;
    font-size: 23px;
    color: #FFFFFF;
    padding: 20px 15px;
    display: block;
    text-decoration: none;
    transition: all .4s;
}

.link_menu_quemSomos {
    font-family: Calibri;
    font-size: 18px;
    color: #FFFFFF;
    padding: 10px 40px;
    display: block;
    text-decoration: none;
    transition: all .4s;
}


/*Efeito dos Itens*/
#nav_menu ul li a:hover {
    background-color: rgb(204, 204, 204);
    color: #000000;
    font-weight: bold;
    font-size: 25px;
}

#link_atual {
    font-family: Calibri;
    font-size: 23px;
    color: #FFFFFF;
    padding: 20px 15px;
    display: block;
    text-decoration: underline;
    transition: all .4s;
}

#link_atual_quemSomos {
    font-family: Calibri;
    font-size: 18px;
    color: #FFFFFF;
    padding: 10px 40px;
    display: block;
    text-decoration: underline;
    transition: all .4s;
}


/*Efeito do Menu do Quem Somos*/
#nav_menu ul #item_quemSomos:hover .lista_quemSomos{
    display: initial;
    transition: .4s;
}

#item_quemSomos ul li a:hover{
    font-size: 21px;
}

/*#nav_menu ul #item_quemSomos:hover .link_menu_quemSomos{
    background-color: rgb(204, 204, 204);
    color: #000000;
}*/



/* Título Header */

#div_titulo {
    height: 100%;   
    width: 100%;
    position: relative;
}

#titulo_header {
    font-size: 40px;
    color: #FFFFFF;
    top: 0px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    padding: 3px;
}
