* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

html {
    height: 100%;
    overflow-x: hidden;
}

body {
    background-color: rgb(19, 21, 22);
    height: 100%;
}



/* Header */

header {
    background-color: rgb(150, 18, 18);
    height: 63px;
    width: 100%;
    position: fixed;
    z-index: 1;
}


#div_menu {
    background-color: rgba(90, 90, 92, 0.7);
    width: 250px;
    height: 100%;
    position: fixed;
    left: -250px;
    transition: all 0.5s;
}

.nav_menu {
    background-color: rgba(72, 72, 75, 0.5);
    max-width: 250px;
    height: 100%;
    position: absolute;
}


/* Imagem que abre o Menu */

input[type="checkbox"] {
    display: none;
}


#img_menu_img {
    width: 30px;

    transition: 0.3s;
}

label {
    top: 9px;
    padding: 8px;
    position: fixed;
    z-index: 2;
}

label:hover img {
    transform: scale(1.01);
    background-color: rgba(160, 160, 160, 0.3);
    border-radius: 4px;
}

input[type="checkbox"]:checked~#div_menu {
    transform: translateX(250px);
}


/* Lista do Menu */
.lista_menu {
    top: 62px;
    list-style: none;
    position: absolute;
    width: 250px;
}

.item_menu {
    display: initial;
}

.link_menu {
    font-family: Calibri;
    font-size: 23px;
    color: white;
    padding: 20px 15px;
    display: block;
    text-decoration: none;
    transition: all .4s;
}

#nav_menu ul li a:hover {
    background-color: rgb(204, 204, 204);
    color: black;
    font-weight: bold;
    font-size: 25px;
}

#link_atual {
    font-family: Calibri;
    font-size: 23px;
    color: white;
    padding: 20px 15px;
    display: block;
    text-decoration: underline;
    transition: all .4s;
}

/* Título Header */
#titulo_header {
    font-size: 40px;
    color: white;
    top: 0px;
    text-align: center;
    position: relative;
    padding: 3px;
}




/* Home */

/* Imagem Superior */

#img_inicial {
    top: 66px;
    position: relative;
    width: 100%;
    height: 400px;
}

#img_inicial p {
    padding-left: 7px;
    color: white;
    display: inline;
    font-size: 10px;
}

#img_inicial p a {
    vertical-align: top;
    text-decoration: none;
    text-decoration: underline;
    color: white;
}

#img_inicial img {
    height: 400px;
    width: 100%;
    border: 5px solid black;
    object-fit: cover;
    object-position: top;

    transition: 0.3s;
}

#img_inicial:hover img {
    transform: scale(1.015);
    border: 0px solid black;
}


/* Textos */

/* Texto Origem */
#historia {
    top: 1000px;
    height: 1300px;
}

#titulo {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;
    color: white;
    top: 590px;
    width: 100%;
    text-align: left;
    margin-left: 100px;
    position: absolute;
    display: inline;
}


/* Parte 1 */
#flex_origem {
    display: flex;
    height: 550px;
    top: 110px;
    position: relative;
}


#origem {
    text-indent: 2em;
    color: white;
    font-size: 20px;
    position: relative;
    top: 190px;
    display: block-flex;
    text-align: left;
    text-align: justify;
    width: 42%;
    height: 400px;
}


#img_origem {
    width: 450px;
    height: 400px;
    display: flex;
    position: relative;
    top: 180px;
    text-align: right;
}

#img_origem img {
    max-width: 400px;
    max-height: 350px;
    width: auto;
    height: auto;
    transition: 0.3s;
}

#img_origem:hover img {
    transform: scale(1.1);
}

#origem_fonte {
    text-align: right;
    padding-right: 12%;
    width: 100%;
    display: inline-block;
    height: 15px;
    position: relative;
    top: 100px;
}

#origem_fonte p {
    height: 15px;
    color: white;
    display: inline;
    font-size: 10px;
    position: relative;
}

#origem_fonte p a {
    text-decoration: none;
    text-decoration: underline;
    color: white;
}


/* Parte 2 */
#flex_origem2 {
    display: flex;
    height: 550px;
    top: 80px;
    position: relative;
}

#origem2 {
    text-indent: 2em;
    color: white;
    font-size: 20px;
    position: relative;
    top: 130px;
    display: block-flex;
    text-align: left;
    text-align: justify;
    width: 42%;
    height: 400px;
}


#img_origem2 {
    width: 400px;
    height: 350px;
    display: flex;
    position: relative;
    top: 90px;
    text-align: right;
}

#img_origem2 img {
    max-width: 400px;
    max-height: 350px;
    width: auto;
    height: auto;
    transition: 0.3s;
}

#img_origem2:hover img {
    transform: scale(1.1);
}


#origem2_fonte {
    text-align: left;
    padding-left: 11%;
    width: 100%;
    display: inline-block;
    height: 15px;
    position: relative;
}

#origem2_fonte p {
    height: 15px;
    color: white;
    display: inline;
    font-size: 10px;
    position: relative;
}

#origem2_fonte p a {
    text-decoration: none;
    text-decoration: underline;
    color: white;
}



/* Texto Poderes e Habilidades */

#ph {
    font-size: 20px;
    width: 100%;
    color: white;
    
    position: relative;
    text-align: left;
    padding: 20px;
}

#ph h1 {
    display: inline-block;
    padding-left: 30px;
}

#flex_ph {
    display: flex;
    height: 400px;
    top: 50px;
    position: relative;
}

#ph ul {
    text-align: left;
    padding: 10px;
    display: block;
    top: 10px;
    position: relative;
    width: 40%;
    text-align: justify;
}

#ph ul li {
    padding: 10px;
}

#img_ph img {
    top: 20px;
    position: relative;
    transition: .3s;
}

#img_ph:hover img {
    transform: scale(1.1);
}


#ph_fonte {
    text-align: right;
    padding-right: 16%;
    width: 100%;
    display: inline-block;
    height: 15px;
    position: relative;
    top: 25px;
}

#ph_fonte p {
    height: 15px;
    color: white;
    display: inline;
    font-size: 10px;
    position: relative;
}

#ph_fonte p a {
    text-decoration: none;
    text-decoration: underline;
    color: white;
}


/* Curiosidades */

#curiosidades {
    font-size: 20px;
    width: 100%;
    color: white;
    top: 120px;
    position: relative;
    text-align: left;
    padding: 10px;
}

#curiosidades h1 {
    display: inline-block;
    padding-left: 35px;
}

#flex_curiosidades {
    width: 100%;
    display: flex;
    height: 440px;
    position: relative;
}

#flex_curiosidades ul {
    text-align: left;
    width: 50%;
    padding: 10px;
    display: block;
    top: 80px;
    position: relative;
    text-align: justify;
}

#flex_curiosidades ul li {
    padding: 10px;
}


#img_curiosidades {
    width: 25%;
    height: 400px;
    display: flex;
    top: 70px;
    position: relative;

}

#img_curiosidades img {
    max-width: 400px;
    max-height: 350px;
    width: auto;
    height: auto;
    transition: 0.3s;
}

#img_curiosidades:hover img {
    transform: scale(1.1);
}


#curiosidades_fonte {
    text-align: left;
    padding-left: 11%;
    width: 100%;
    display: inline-block;
    height: 15px;
    position: relative;
}

#curiosidades_fonte p {
    height: 15px;
    color: white;
    display: inline;
    font-size: 10px;
    position: relative;
}

#curiosidades_fonte p a {
    text-decoration: none;
    text-decoration: underline;
    color: white;
}



/* Trajetória */

#trajetoria {
    font-size: 20px;
    width: 100%;
    height: 1300px;
    color: white;
    top: 250px;
    position: relative;
    text-align: left;
    padding: 10px;
}

#trajetoria h1 {
    display: inline-block;
    padding-left: 70px;
}


#flex_trajetoria {
    display: flex;
    height: 450px;
    position: relative;
}


#trajetoria_texto {
    text-indent: 2em;
    color: white;
    font-size: 20px;
    position: relative;
    top: 70px;
    display: block-flex;
    text-align: left;
    text-align: justify;
    width: 42%;
    height: 400px;
}


#trajetoria_img {
    width: 500px;
    height: 450px;
    display: flex;
    position: relative;
    text-align: right;
    top: 20px;
}

#trajetoria_img img {
    max-width: 500px;
    max-height: 450px;
    width: auto;
    height: auto;
    transition: 0.3s;
}

#trajetoria_img:hover img {
    transform: scale(1.1);
}


#trajetoria_fonte {
    text-align: right;
    padding-right: 10%;
    width: 100%;
    display: inline-block;
    height: 15px;
    position: relative;
}

#trajetoria_fonte p {
    height: 15px;
    color: white;
    display: inline;
    font-size: 10px;
    position: relative;
}

#trajetoria_fonte p a {
    text-decoration: none;
    text-decoration: underline;
    color: white;
}


/* Lista de Filmes */
#div_ul_trajetoria {
    width: 100%;
    top: 200px;
}

#div_ul_trajetoria p{
    font-size: 32px;
    font-weight: bold;
    width: 100%;
    color: white;
    position: relative;
    text-align: center;
    padding: 10px;
    top: 100px;
}

#trajetoria_filmes{
    text-align: center;
}

#trajetoria_filmes li {
    top: 150px;
    height: 300px;
    width: 200px;
    display: inline-block;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
}

#trajetoria_filmes img {
    max-height: 300px;
    max-width: 250px;
    height: auto;
    width: auto;
    display: inline-block;
    transition: .3s;
}

#div_ul_trajetoria li:hover img {
    transform: scale(1.1);
}



/*Rodapé*/

footer {
    top: 200px;
    width: 100%;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
}