* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

html {
    height: 1250px;
    overflow-x: hidden;
}

body {
    background-color: rgb(19, 21, 22);
    height: 100%;
}

#tudo {
    min-height: 100%;
    position: relative;
}


/* Header */

header {
    background-color: rgb(150, 18, 18);
    height: 63px;
    width: 100%;
    position: fixed;
    z-index: 1;
}


#div_menu {
    background-color: rgba(90, 90, 92, 0.7);
    width: 250px;
    height: 100%;
    position: fixed;
    left: -250px;
    transition: all 0.5s;
}

.nav_menu {
    background-color: rgba(72, 72, 75, 0.5);
    max-width: 250px;
    height: 100%;
    position: absolute;
}


input[type="checkbox"] {
    display: none;
}


#img_menu_img {
    width: 30px;

    transition: 0.3s;
}


label {
    top: 9px;
    padding: 8px;
    position: fixed;
    z-index: 2;
}

label:hover img {
    transform: scale(1.01);
    background-color: rgba(160, 160, 160, 0.3);
    border-radius: 4px;
}


input[type="checkbox"]:checked~#div_menu {
    transform: translateX(250px);
}


.lista_menu {
    top: 62px;
    list-style: none;
    position: absolute;
    width: 250px;
}

/* #header ul li */
.item_menu {
    display: initial;
}

/* #header ul li a */
.link_menu {
    font-family: Calibri;
    font-size: 23px;
    color: white;
    padding: 20px 15px;
    display: block;
    text-decoration: none;
    transition: all .4s;
}


/*Efeito de Transição*/
#nav_menu ul li a:hover {
    background-color: rgb(204, 204, 204);
    color: black;
    font-weight: bold;
    font-size: 25px;
}


#titulo_header {
    font-size: 40px;
    color: white;
    top: 0px;
    text-align: center;
    position: relative;
    padding: 3px;
}


#link_atual {
    font-family: Calibri;
    font-size: 23px;
    color: white;
    padding: 20px 15px;
    display: block;
    text-decoration: underline;
    transition: all .4s;
}



/* 1 Versão do Header

#cabecalho {
    background-color: rgb(150, 18, 18);
    height: 65px;
    width: 100%;
    position: fixed;
    z-index: 1;
    display: block;
}

#nav_menu {
    height: 55px;
}

#ul_menu {
    list-style: none;
    padding-top: 20px;
}

.item_menu {
    display: initial;
}


.link_menu {
    font-family: Calibri;
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;

    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    display: inline;
    transition: all 0.3s;
}

#nav_menu ul li a:hover {
    background-color: rgb(202, 202, 202);
    color: black;
    font-weight: bold;

}

#link_atual {
    font-family: Calibri;
    font-size: 25px;
    color: rgb(17, 17, 17);
    text-decoration: none;
    font-weight: bold;

    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    display: inline;
    transition: all 0.3s;
}
*/



/* Home */

#img_inicial {
    top: 66px;
    position: relative;
    width: 100%;
}

#img_inicial img {
    height: 400px;
    width: 100%;
    border: 5px solid black;
    object-fit: cover;
    object-position: center;

    transition: 0.3s;
}

#img_inicial:hover img {
    transform: scale(1.015);
    border: 0px solid black;
}

#parte_inicial {
    top: 700px;
    height: 600px;
}

#titulo {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;
    color: white;
    top: 550px;
    width: 100%;
    text-align: center;
    position: absolute;
    display: inline;
}

#flex_descricao {
    display: flex;
    height: 600px;
}

.descricao {
    text-indent: 2em;
    color: white;
    font-size: 20px;
    position: relative;
    top: 290px;
    display: block-flex;
    width: 42%;
    height: 400px;
}

.descricao ul {
    left: 20px;
    position: relative;
    text-indent: 0em;
}

#img_descricao {
    width: 300px;
    height: 450px;
    display: flex;
    position: relative;
    top: 280px;
}

#img_descricao img {
    max-width: 300px;
    max-height: 450px;
    width: auto;
    height: auto;

    transition: 0.3s;
}

#img_descricao:hover img {
    transform: scale(1.1);
}

footer {
    width: 100%;
    color: white;
    text-align: center;
    padding: 20px;
}