* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

html {
    height: 3000px;
    
}

body {
    background-color: rgb(19, 21, 22);
    height: 100%;
}

#tudo {
    min-height: 100%;
    position: relative;
}


/* Header */

header{
    background-color: rgb(150, 18, 18);
    height: 63px;
    width: 100%;
    position: fixed;
    z-index: 1;
}


#div_menu{
    background-color: rgba(90, 90, 92, 0.7);
    width: 250px;
    height: 100%;
    position: fixed;
    left: -250px;
    transition: all 0.5s;
}

.nav_menu{
    background-color: rgba(72, 72, 75, 0.5);
    max-width: 250px;
    height: 100%;
    position: absolute;
}


input[type="checkbox"]{
    display: none;
}

#img_menu_img{
    width: 30px;

    transition: .3s;
}

label{
    top: 9px;
    padding: 8px;
    position: fixed;
    z-index: 2;
}

label:hover img{
    transform: scale(1.01);
    background-color: rgba(160, 160, 160, 0.3);
    border-radius: 4px;
}


input[type="checkbox"]:checked ~ #div_menu{
    transform: translateX(250px);
}


.lista_menu{
    top: 62px;
    list-style: none;
    position: absolute;
    width: 250px;
}

/* #header ul li */
.item_menu {
    display: initial;
}

/* #header ul li a */
.link_menu {
    font-family: Calibri;
    font-size: 23px;
    color: white;
    padding: 20px 15px;
    display: block;
    text-decoration: none;
    transition: all .4s;
}

/*Efeito de Transição*/
#nav_menu ul li a:hover {
    background-color: rgb(202, 202, 202);
    color: black;
    font-weight: bold;
    font-size: 25px;
}


#titulo_header{
    font-size: 40px;
    color: white;
    top: 0px;
    text-align: center;
    position: relative;
    padding: 3px;
}


#link_atual {
    font-family: Calibri;
    font-size: 23px;
    color: white;
    padding: 20px 15px;
    display: block;
    text-decoration: underline;
    transition: all .4s;
}



/* Home */

#img_inicial {
    top: 66px;
    position: relative;
    width: 100%;
    color: white;
    padding-left: 10px;
    display: inline;
    font-size: 14px;
}

#img_inicial img {
    height: 400px;
    width: 100%;
    border: 5px solid black;
    object-fit: cover;
    object-position: top;

    transition: 0.3s;
}

#img_inicial:hover img{
    transform: scale(1.015);
    border: 0px solid black;
}


#parte_inicial {
    top: 700px;
    height: 600px;
}

#titulo {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;
    color: white;
    top: 570px;
    width: 100%;
    text-align: left;
    margin-left: 100px;
    position: absolute;
    display: inline;
}

#flex_origem{
    display: flex;
    height: 600px;
}

#origem {
    text-indent: 2em;
    color: white;
    font-size: 20px;
    position: relative;
    top: 250px;
    display: block-flex;
    text-align: left;
    text-align: justify;
    width: 42%;
    height: 400px;
}


#img_origem{
    width: 400px;
    height: 350px;
    display: flex;
    position: relative;
    top: 250px;
    text-align: right;
}

#img_origem img{
    max-width: 450px;
    max-height: 400px;
    width: auto;
    height: auto;
    transition: 0.3s;
}
#img_origem:hover img{
    transform: scale(1.015);
    border: 0px solid black;
}

#flex_origem2{
    display: flex;
    height: 600px;
}

#origem2 {
    text-indent: 2em;
    color: white;
    font-size: 20px;
    position: relative;
    top: 200px;
    display: block-flex;
    text-align: left;
    text-align: justify;
    width: 42%;
    height: 400px;
}


#img_origem2{
    width: 400px;
    height: 350px;
    display: flex;
    position: relative;
    top: 160px;
    text-align: right;
}

#img_origem2 img{
    max-width: 400px;
    max-height: 350px;
    width: auto;
    height: auto;
    transition: 0.3s;
}
#img_origem2:hover img{
    transform: scale(1.015);
    border: 0px solid black;
}

#texto_final {
    width: 100%;
    color: white;
    top: 1250px;
    position: absolute;
    text-align: center;
    padding: 20px;
}

#ph{
    font-size: 20px;
    width: 100%;
    color: white;
    top: 80px;
    position: relative;
    text-align: left;
    padding: 20px;
}

#ph h1{
    display: inline-block;
}

#ph ul{
    left: 50px;
    width: 40%;
    display: block;
    
}

footer {
    width: 100%;
    color: white;
    text-align: center;
    padding: 20px;
}